/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.bg-pink {
    background-color: #ff0082!important;
}

.pink {
    color: #ff0082!important;
}


/* Header */

.logo {
    font-size: 2rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}


/* footer */

footer p {
    margin-bottom: 0;
}