/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.bg-pink {
    background-color: #ff0082!important;
}

.pink {
    color: #ff0082!important;
}

.border-pink {
    border: 1px solid #ff0082!important;
}


/* strCategory strTags strYoutube */


/* Header */

.logo {
    font-size: 2rem;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.navbar-toggler:focus {
    border: 0;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}


/* Scroll */

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ff0479;
    border-radius: 10px;
    background-color: #fff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ff0082;
    border-radius: 10px;
    height: 50px;
}


/* footer */

footer p {
    margin-bottom: 0;
}